@model List<BakeryModel>

@{
    ViewData["Title"] = "New Bakery Page";
}

<!--  Bakery info Modal -->
<div id="modalBakeryInfo" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Descrição da padaria</h5>
                <button type="button" class="btn-close" data-dismiss="modal"  aria-label="Close">Sair</button>
            </div>
            <div class="modal-body">
               
                <div id="listBakery">

                </div>
            </div>
        </div>
    </div>
</div>
<!--/////////////////////////////////////////////////////////////////////-->





<div class="Container">

    <div class="containerTitle">
        <h1 class="titleBakeryPage">Nossos parceiros</h1>
    </div>


    <div class="bakeryContainer">

        @if (Model != null && Model.Any())
        {
            foreach (BakeryModel bakery in Model)
            {
                <div class="cardComponent">
                    <h1>@bakery.Name</h1>
                    <p>@bakery.Description</p>
                    <p class="infoCard" bakery-id="@bakery.Id"><strong>Ver mais informações</strong></p>
                </div>

            }
        }
    </div>
    <div class="containerButton">
        <a class="btn btn-primary" asp-controller="Bakery" asp-action="Create">Seja parceiro</a>
    </div>




</div>