
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - epadoca_challenge</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Home.css" />
    <link rel="stylesheet" href="~/img/" />
</head>
<body>
    <header class="header">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img class="epadoca-logo" src="~/img/logo-epadoca.png" alt="epadoca-logo" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Início</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Bakery" asp-action="Index">Faça parte</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" target="_blank" href="https://blog.epadoca.com/">Blog</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="main ">
        <div class="floatingWhatsapp">
            <a href="https://api.whatsapp.com/send?1=pt_BR&phone=5511970705217&text=Ol%C3%A1%20Wendell%2C%20gostaria%20de%20contratar%20o%20Epadoca.com%20para%20minha%20padaria."
               target="_blank"><img class="whatsappImage w-50 h-50" src="~/img/wpp-1.png"/> </a>
        </div>
        <main role="main">
            @RenderBody()
        </main>
    </div>



    <footer class="border-top footer text-muted">
        <div class="containerFooter">

            <div class="epadocaPlataform">
                <img class="epadoca-logo" src="~/img/epadoca-logotipo.png" alt="epadoca-logo" />
                <p class="$white ">
                    A melhor plataforma digital para Padarias.
                </p>

            </div>


            <div class="social d-flex flex-column">
                <p class="$white">
                    Acompanhe nas redes
                </p>
                <div class="socialContainer  d-flex">
                    <a href="https://www.linkedin.com/in/flávio-jcosta" target="_blank"> <img class="socialImage" src="~/img/linkedin-logo.png" /> </a>
                    <a href="https://github.com/Flaviojcf" target="_blank"> <img class="socialImage" src="~/img/github-logo.png" /> </a>
                    <a href="mailto:flaviojcostafilho@gmail.com?subject=VagaDeEstagio&body=Ola%0D%0A%0D%0AFlavio,%0D%0A%0D%0AEquipe Epadoca"> <img class="socialImage" src="~/img/gmail.png" /> </a>

                </div>
            </div>



        </div>

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
